@import "css-reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  margin: 0;
}

header {
  background-color: #3a3632;
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 200;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.navlogo {
  background: url(../imgs/logo.svg);
  background-size: contain;
  height: 50px;
  margin-left: 10px;
  width: 50px;
}

.navlogo:hover {
  cursor: pointer;
}

.burger {
  background-size: cover;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.burgerbutton {
  height: 100%;
  width: 100%;
}

.burgerbutton:hover {
  cursor: pointer;
}

.navul {
  display: none;
  position: absolute;
}

.navul li {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.navul li:hover {
  background-color: grey;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
  width: 100%;
}

.burger:hover .navul {
  background-color: #3a3632;
  cursor: pointer;
  display: block;
  left: 0;
  width: 100vw;
}

nav a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.spaceship {
  align-items: center;
  background-image: url("../imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 75vh;
  justify-content: center;
  width: 100vw;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
}

.container h1 {
  flex: 40%;
  font-size: 30px;
  padding: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.subcontainer {
  background-color: rgba(121, 121, 121, 0.397);
  display: flex;
  flex: 60%;
  flex-direction: column;
  padding: 20px;
}

.subsubcontainer {
  /* border-top: 2px solid white; */
  display: flex;
  flex-direction: column;
}

.subcontainer p {
  color: white;
  flex: 50%;
  font-size: 120%;
  line-height: 20px;
}

.features {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.subfeatures {
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.subfeatures button {
  background: #3a3632;
  border-radius: 5px;
  color: white;
  height: 35px;
  margin: 10px;
  width: 90%;
}

.subfeatures p {
  color: lightgrey;
  font-size: 100%;
  line-height: 20px;
}

h3 {
  font-size: 125%;
  padding: 10px;
}

.subfeatures img {
  height: 40px;
  width: 40px;
}

.features button:hover {
  cursor: pointer;
}

/* .containertwo {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
} */

.greycontainer {
  color: white;
  background-color: #3a3632;
  height: 250px;
  position: relative;
}

.greycontainer h1 {
  font-size: 30px;
  padding-left: 15px;
  padding-top: 75px;
}

.greycontainer p {
  font-size: 15px;
  padding-left: 15px;
  padding-top: 25px;
  width: 80%;
}

.subgreycontainer {
  background-color: #3a3632;
  border: 4px solid white;
  box-sizing: border-box;
  left: 30%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 40%;
}

.subgreycontainer:hover {
  animation-name: animationbox;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes animationbox {
  from {
    transform: rotate(0deg);
    /* transform: skewY(0deg);
    transform: skewX(0deg); */
  }
  to {
    transform: rotate(3600deg);
    /* transform: skewY(180deg);
    transform: skewX(180deg); */
  }
}

h4 {
  color: red;
  font-size: 120%;
  margin-top: 10px;
}

.subgreycontainer p {
  font-size: 100%;
  padding: 10px;
  width: 100%;
}

.bluecontainer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(21, 181, 229, 0.24833683473389356) 25%,
    rgba(86, 146, 149, 0.49763655462184875) 50%,
    rgba(30, 167, 217, 0.7469362745098039) 75%,
    rgba(0, 255, 246, 1) 100%
  );
  color: white;
  height: 250px;
  text-align: right;
}

.bluecontainer h1 {
  /* font-size: 50px; */
  font-size: 30px;
  padding-right: 15px;
  padding-top: 75px;
}

.bluecontainer p {
  font-size: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

/* .catsrow {
  display: flex;
} */

.imagecontainer {
  /* max-width: calc(100% / 3); */
  align-items: center;
  display: flex;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.cats {
  height: 100%;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.imagecontainer:hover .cats {
  transform: scale(1.1);
}

span {
  color: white;
  display: none;
  font-size: 1.5em;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 1px black;
  z-index: 100;
}

.imagecontainer:hover span {
  display: block;
}

.formcontainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

form {
  /* align-items: center; */
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 110%;
}

.formtext {
  border: 2px solid #a6a5a6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.inputtext {
  border: none;
  height: 25px;
}

.formtext button {
  border: none;
  background-color: #a6a5a6;
}

.sendbutton {
  all: unset;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sendbutton:hover {
  cursor: pointer;
}

.formcheck {
  margin-top: 5px;
  margin-left: 0;
}

.checkbox {
  border: 2px solid #a6a5a6;
}

.formcheck label {
  font-size: 100%;
}

.listsection {
  border-top: 1px solid lightgrey;
  /* display: flex; */
  /* justify-content: space-evenly; */
  padding-left: 10px;
  padding-top: 30px;
}

.listsection ul li {
  padding: 5px;
}

a {
  color: grey;
  text-decoration: none;
}

input {
  border-color: grey;
  border-radius: 5px;
}

.inputtext {
  height: 25px;
}

@media (min-width: 768px) {
  .navlogo {
    margin-left: 20px;
  }

  .burger {
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .burger:hover .navul {
    display: flex;
    position: relative;
    width: 100%;
  }
  .burgerbutton {
    display: none;
  }

  .navul {
    /* display: block; */
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    /* flex: 40%; */
    /* justify-content: space-between; */
  }

  .navul li {
    margin-left: 20px;
  }

  .navul li a {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .spaceship {
    height: 100vh;
  }
  .container {
    border: 8px solid white;
    flex-direction: row;
    width: 80%;
  }

  .container h1 {
    font-size: 80px;
    margin-top: 40px;
    line-height: 100px;
  }
  .subcontainer {
    background-color: rgba(80, 77, 77, 0.6);
  }
  .subcontainer h2 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .subsubcontainer {
    border-top: 1px dashed white;
    flex-direction: row;
    /* height: 50%; */
  }
  .subcontainer p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 40px;
  }

  .features {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .subfeatures {
    width: 25%;
  }

  .greycontainer {
    height: 625px;
  }

  .greycontainer h1 {
    font-size: 100px;
    padding-left: 5%;
  }
  .greycontainer p {
    font-size: 25px;
    padding-left: 5%;
  }

  .subgreycontainer {
    top: 90%;
    left: 5%;
    width: 25%;
  }

  .bluecontainer {
    height: 625px;
  }

  .bluecontainer h1 {
    font-size: 100px;
    padding-right: 5%;
  }

  .bluecontainer p {
    font-size: 25px;
    padding-right: 5%;
  }

  .catscontainer {
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 100vw;
  }

  .catsrow {
    display: flex;
    height: 50%;
  }

  .imagecontainer {
    height: 100%;
    max-width: calc(100% / 3);
  }

  .listsection {
    display: flex;
    justify-content: space-evenly;
  }

  .listsection ul li {
    padding: 5px;
  }

  /* .featurescontainer {
    display: flex;
    justify-content: center;
  } */
}
